/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-blue: rgb(49, 97, 196);
    --color-white: #ffffff;
    --color-black: #000000;
}

body {
    font-family: 'NAMU', sans-serif;
    background-color: #191e25; /* Dark background */
    color: #dde2ea; /* Light text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info h3 {
    color:var(--color-blue);
    font-family: 'Changeling Neo', sans-serif;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.contact-info a{
    text-decoration: none;
    color:var(--color-blue);
}

.logo-container svg {
    height: 10vh;
    max-width: 90%;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    fill: var(--color-white);
}

/* Links Section */
.links {
    text-align: center;
    width: 100%;
}

.links h2 {
    font-family: 'Changeling Neo', sans-serif; /* Brand font for titles */
    color: #3161c4; /* Brand blue */
    margin-bottom: 20px;
}

.social-link, .website-link {
    display: block;
    margin: 15px 0;
    padding: 15px;
    text-decoration: none;
    color: #dde2ea;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    max-width: 450px; /* Limit width for larger screens */
    margin-left: auto;
    margin-right: auto;
    background-color: #252A34; /* Darker muted background for buttons */
    border: 2px solid #3161c4; /* Blue border for a luxurious feel */
}

.social-link:hover, .website-link:hover {
    background-color: #3161c4; /* Lighter blue for hover effect */
    color: #fff; /* White text on hover */
}

.social-link:active, .website-link:active {
    transform: scale(0.98); /* Minor button press effect */
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #dde2ea; /* Light text color */
}

.blue-white-gradient{
    background: linear-gradient(90deg, var(--color-blue), var(--color-white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moving-gradient-text {
    font-weight: bold;
    background: linear-gradient(90deg, var(--color-blue), whitesmoke, var(--color-blue));
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 4s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 10% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}