* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-blue: #3161c4;
    --color-white: #dde2ea;
    --color-black: #000000;
    font-family: 'Changeling Neo', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

body {
    font-family: 'NAMU', sans-serif;
    background-color: #191e25;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info h3 {
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 400;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.logo-container svg {
    height: 10vh;
    max-width: 90%;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    fill: var(--color-white);
}

.links {
    text-align: center;
    width: 100%;
}

.links h2 {
    color: var(--color-blue);
    margin-bottom: 20px;
}

.social-link, .website-link {
    display: block;
    padding: 15px;
    color: var(--color-white);
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    max-width: 450px; /* Limit width for larger screens */
    margin: 15px auto;
    background-color: #252A34; /* Darker muted background for buttons */
    border: 2px solid #3161c4;
}

.social-link:hover, .website-link:hover {
    background-color: var(--color-blue);
    color: #fff;
}

.social-link:active, .website-link:active {
    transform: scale(0.98);
}

footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    color: var(--color-white);
}

footer a:hover, .contact-info a:hover {
    color: var(--color-blue);
}

footer a, .contact-info a {
    color: var(--color-white);
}

/*gradient*/
.blue-white-gradient {
    background: linear-gradient(90deg, var(--color-blue), var(--color-white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moving-gradient-text {
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--color-blue), whitesmoke, var(--color-blue));
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 4s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 10% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}

.messenger-links {
    text-align: center;
}

.messenger-link {
    width: 40px;
    height: 40px;
    margin: 10px;
    display: inline-flex;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: var(--color-white);
}

.telegram svg{
    width: 24px;
    height: 24px;
}

.viber svg{
    width: 26px;
    height: 26px;
}

.whatsapp svg{
    width: 30px;
    height: 30px;
}

.messenger-link svg {
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    fill:var(--color-white);
}

.messenger-link:hover {
    transform: scale(1.3);
}

/* Made by section */
.made-by {
    font-size: 10px;
    color: var(--color-white);
    opacity: 0.5;
    margin-top: 10px;
}

.made-by a {
    color: var(--color-white);
}

.made-by a:hover {
    color: var(--color-blue);
}